/* body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 250, 250);
    width: 60%;
    margin-left: 20%;
}

ul li {
    list-style: none;
    display: inline-block;
}

nav a {
    text-align: center;
    border: 1px black solid;
    border-radius: 15px;
    display: inline-block;
    padding: 15px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

h1, p {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.btns {
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
} */
.img-scale:hover {
    transform: scale(2, 2);
}